<form #roomFormRef="ngForm" class="form">
    <div class="form-group">
        <label for="roomTitle">Oda Adı:</label>
        <input
        id="roomTitle"
        type="text"
        name="title"
        required
        pattern="^[a-zA-ZğüşöçıİĞÜŞÖÇ\s]+$"
        minlength="3"
        [(ngModel)] = "formData.title"
        #title = "ngModel"
        (keydown.enter)="focusNext($event)"
        />
        <div *ngIf="title.invalid && title.touched" class="alert">
            <div *ngIf="title.hasError('required')">
                Oda adı bilgisi zorunludur!
            </div>
            <div *ngIf="title.hasError('pattern')">
                Oda adı sadece harflerden oluşmalıdır!
            </div>
            <div *ngIf="title.hasError('minlength')">
                Oda adı en az 3 harften oluşmalıdır!
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="roomX">x (sol-üst):</label>
        <input
        id="roomX"
        type="number"
        name="x"
        required
        [(ngModel)] = "formData.x"
        #x = "ngModel"
        (keydown.enter)="focusNext($event)"
        />
        <div *ngIf="x.invalid && x.touched" class="alert">
            <div *ngIf="x.hasError('required')">
                x koordinat bilgisi zorunludur!
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="roomY">y (sol-üst):</label>
        <input
        id="roomY"
        type="number"
        name="y"
        required
        [(ngModel)] = "formData.y"
        #y = "ngModel"
        (keydown.enter)="focusNext($event)"
        />
        <div *ngIf="y.invalid && y.touched" class="alert">
            <div *ngIf="y.hasError('required')">
                y koordinat bilgisi zorunludur!
            </div>
        </div>
    </div>

<div class="hint-text">
  Ölçü için genişlik-yükseklik veya son X-son Y alanlarından birini kullanabilirsiniz.
</div>

<div
  *ngIf="
    formData.width == null &&
    formData.height == null &&
    formData.last_x == null &&
    formData.last_y == null
  "
  class="alert"
>
  Genişlik-yükseklik veya Son X-Son Y bilgilerinden biri girilmelidir.
</div>

<div class="form-group">
  <label for="roomWidth">Genişlik:</label>
  <input
    id="roomWidth"
    type="number"
    name="width"
    min="0"
    [(ngModel)]="formData.width"
    #width="ngModel"
    (keydown.enter)="focusNext($event)"
  />

  <div *ngIf="width.invalid && width.touched" class="alert">
    <div *ngIf="width.hasError('min')">
      Genişlik negatif olamaz.
    </div>
  </div>

  <div
    *ngIf="
      (formData.width != null && formData.height == null) ||
      (formData.width == null && formData.height != null)
    "
    class="alert"
  >
    Genişlik ve yükseklik birlikte girilmelidir.
  </div>

  <div
    *ngIf="
      formData.width != null &&
      formData.width <= 0
    "
    class="alert"
  >
    Genişlik 0'dan büyük olmalıdır.
  </div>
</div>

<div class="form-group">
  <label for="roomHeight">Yükseklik:</label>
  <input
    id="roomHeight"
    type="number"
    name="height"
    min="0"
    [(ngModel)]="formData.height"
    #height="ngModel"
    (keydown.enter)="focusNext($event)"
  />

  <div *ngIf="height.invalid && height.touched" class="alert">
    <div *ngIf="height.hasError('min')">
      Yükseklik negatif olamaz.
    </div>
  </div>

  <div
    *ngIf="
      (formData.width != null && formData.height == null) ||
      (formData.width == null && formData.height != null)
    "
    class="alert"
  >
    Genişlik ve yükseklik birlikte girilmelidir.
  </div>

  <div
    *ngIf="
      formData.height != null &&
      formData.height <= 0
    "
    class="alert"
  >
    Yükseklik 0'dan büyük olmalıdır.
  </div>
</div>

<div class="form-group">
  <label for="roomLastX">Son X:</label>
  <input
    id="roomLastX"
    type="number"
    name="last_x"
    [(ngModel)]="formData.last_x"
    #last_x="ngModel"
    (keydown.enter)="focusNext($event)"
  />

  <div
    *ngIf="
      (formData.last_x != null && formData.last_y == null) ||
      (formData.last_x == null && formData.last_y != null)
    "
    class="alert"
  >
    Son X ve Son Y birlikte girilmelidir.
  </div>

  <div
    *ngIf="
      formData.x != null &&
      formData.last_x != null &&
      formData.last_x <= formData.x
    "
    class="alert"
  >
    Son X değeri başlangıç X değerinden büyük olmalıdır.
  </div>
</div>

<div class="form-group">
  <label for="roomLastY">Son Y:</label>
  <input
    id="roomLastY"
    type="number"
    name="last_y"
    [(ngModel)]="formData.last_y"
    #last_y="ngModel"
    (keydown.enter)="focusNext($event)"
  />

  <div
    *ngIf="
      (formData.last_x != null && formData.last_y == null) ||
      (formData.last_x == null && formData.last_y != null)
    "
    class="alert"
  >
    Son X ve Son Y birlikte girilmelidir.
  </div>

  <div
    *ngIf="
      formData.y != null &&
      formData.last_y != null &&
      formData.last_y >= formData.y
    "
    class="alert"
  >
    Son Y değeri başlangıç Y değerinden küçük olmalıdır.
  </div>
</div>

<div class="metric-group">
  <h3>Sıcaklık Eşikleri</h3>

  <div class="form-group">
    <label for="roomSicaklikOptimum">Optimum sıcaklık:</label>
    <input
      id="roomSicaklikOptimum"
      type="number"
      name="temperature_optimum_value"
      required
      [(ngModel)]="formData.temperature_optimum_value"
      #temperature_optimum_value="ngModel"
      (keydown.enter)="focusNext($event)"
    />
    <div *ngIf="temperature_optimum_value.invalid && temperature_optimum_value.touched" class="alert">
      <div *ngIf="temperature_optimum_value.hasError('required')">
        Sıcaklık optimum değeri zorunludur!
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="roomSicaklikMin">Minimum sıcaklık:</label>
    <input
      id="roomSicaklikMin"
      type="number"
      name="temperature_min_value"
      required
      [(ngModel)]="formData.temperature_min_value"
      #temperature_min_value="ngModel"
      (keydown.enter)="focusNext($event)"
    />
    <div *ngIf="temperature_min_value.invalid && temperature_min_value.touched" class="alert">
      <div *ngIf="temperature_min_value.hasError('required')">
        Minimum sıcaklık değerinin girilmesi zorunludur!
      </div>
    </div>
    <div
      *ngIf="
        formData.temperature_min_value != null &&
        formData.temperature_optimum_value != null &&
        formData.temperature_min_value > formData.temperature_optimum_value
      "
      class="alert"
    >
      Minimum sıcaklık değeri optimum sıcaklık değerinden büyük olamaz!
    </div>
  </div>

  <div class="form-group">
    <label for="roomSicaklikMax">Maksimum sıcaklık:</label>
    <input
      id="roomSicaklikMax"
      type="number"
      name="temperature_max_value"
      required
      [(ngModel)]="formData.temperature_max_value"
      #temperature_max_value="ngModel"
      (keydown.enter)="focusNext($event)"
    />
    <div *ngIf="temperature_max_value.invalid && temperature_max_value.touched" class="alert">
      <div *ngIf="temperature_max_value.hasError('required')">
        Maksimum sıcaklık değeri zorunludur!
      </div>
    </div>
    <div
      *ngIf="
        formData.temperature_max_value != null &&
        formData.temperature_optimum_value != null &&
        formData.temperature_max_value < formData.temperature_optimum_value
      "
      class="alert"
    >
      Maksimum sıcaklık değeri optimum değerden küçük olamaz.
    </div>
  </div>
</div>

<div class="metric-group">
  <h3>Nem Eşikleri</h3>

  <div class="form-group">
    <label for="roomNemOptimum">Optimum nem:</label>
    <input
      id="roomNemOptimum"
      type="number"
      name="humidity_optimum_value"
      required
      [(ngModel)]="formData.humidity_optimum_value"
      #humidity_optimum_value="ngModel"
      (keydown.enter)="focusNext($event)"
    />
    <div *ngIf="humidity_optimum_value.invalid && humidity_optimum_value.touched" class="alert">
      <div *ngIf="humidity_optimum_value.hasError('required')">
        Optimum nem değeri zorunludur!
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="roomNemMin">Minimum nem:</label>
    <input
      id="roomNemMin"
      type="number"
      name="humidity_min_value"
      required
      [(ngModel)]="formData.humidity_min_value"
      #humidity_min_value="ngModel"
      (keydown.enter)="focusNext($event)"
    />
    <div *ngIf="humidity_min_value.invalid && humidity_min_value.touched" class="alert">
      <div *ngIf="humidity_min_value.hasError('required')">
        Minimum nem değeri zorunludur!
      </div>
    </div>
    <div
      *ngIf="
        formData.humidity_min_value != null &&
        formData.humidity_optimum_value != null &&
        formData.humidity_min_value > formData.humidity_optimum_value
      "
      class="alert"
    >
      Minimum nem değeri optimumdan büyük olamaz!
    </div>
  </div>

  <div class="form-group">
    <label for="roomNemMax">Nem maksimum değer:</label>
    <input
      id="roomNemMax"
      type="number"
      name="humidity_max_value"
      required
      [(ngModel)]="formData.humidity_max_value"
      #humidity_max_value="ngModel"
      (keydown.enter)="focusNext($event)"
    />
    <div *ngIf="humidity_max_value.invalid && humidity_max_value.touched" class="alert">
      <div *ngIf="humidity_max_value.hasError('required')">
        Maksimum nem değeri zorunludur!
      </div>
    </div>
    <div
      *ngIf="
        formData.humidity_max_value != null &&
        formData.humidity_optimum_value != null &&
        formData.humidity_max_value < formData.humidity_optimum_value
      "
      class="alert"
    >
      Maksimum nem değeri optimum nem değerinden küçük olamaz!
    </div>
  </div>
</div>


    <div class="form-actions">
        <button type="button" class="save-button" (click)="onSubmit()">{{submitLabel}}</button>
        <button type="button" class="cancel-button" (click)="cancel.emit()">İptal</button>
    </div>
</form>