<section class="sensor-monitor-page">
  <div class="sensor-monitor-header">
    <h1>Tüm Binaların Sensör Akışı</h1>
    <a routerLink="/" class="back-button">Geri Dön</a>
  </div>

  <div *ngIf="loading" class="sensor-alert-empty">
    Sensör verileri yükleniyor...
  </div>

  <div *ngIf="!loading && buildingGroups.length > 0; else noData" class="building-groups">
    <section
      class="building-section"
      *ngFor="let group of buildingGroups; trackBy: trackByBuilding"
    >
      <div class="building-header">
        <h2>{{ group.buildingTitle }}</h2>

        <div class="building-summary">
          <span class="summary warning">Uyarı: {{ group.warningCount }}</span>
          <span class="summary critical">Kritik: {{ group.criticalCount }}</span>
          <span class="summary total">Toplam Problemli Sensör: {{ group.sensors.length }}</span>
        </div>
      </div>

      <div *ngIf="group.sensors.length > 0; else noBuildingFaults" class="sensor-list">
        <!-- <div
          class="sensor-alert-card"
          *ngFor="let item of group.sensors; trackBy: trackBySensor"
        > -->
        <div
        class="sensor-alert-card"
        [ngClass]="item.status"
        *ngFor="let item of group.sensors; trackBy: trackBySensor"
        >
          <div class="sensor-alert-card-top">
            <strong>{{ item.title }}</strong>
            <span class="sensor-alert-status" [class]="item.status">
              {{ item.statusText }}
            </span>
          </div>
          <div class="sensor-alert-meta">
            <span>Kat: {{ item.floorNumber }}</span>
            <span>Oda: {{ item.roomTitle }}</span>
            <span>Tip: {{ item.type }}</span>
            <span *ngIf="item.sicaklik !== undefined">Sıcaklık: {{ item.sicaklik }}</span>
            <span *ngIf="item.nem !== undefined">Nem: {{ item.nem }}</span>
          </div>

          <div class="sensor-alert-message">
            {{ item.message }}
          </div>

          <div class="sensor-alert-time">
            {{ item.updatedAt }}
          </div>
        </div>
      </div>

      <ng-template #noBuildingFaults>
        <div class="sensor-alert-empty">
          Bu binada şu anda hatalı sensör bulunmuyor.
        </div>
      </ng-template>
    </section>
  </div>

  <ng-template #noData>
    <div *ngIf="!loading" class="sensor-alert-empty">
      Gösterilecek sensör verisi bulunamadı.
    </div>
  </ng-template>
</section>